.searchImgContainer {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/Anime-girl-listen-music-headphones-city_1920x1200.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.searchImgContainer2 {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../images/Anime-girl-listen-music-headphones-city_1920x1200.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}
.sectionSearch {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  align-items: center;
}
.sectionSearch input {
  padding: 5px;
  font-size: large;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #52c234 ;
  color: #000000;
}
.sectionResults {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1%;
  gap: 15px;
  background: none;
}
.btnSearch {background-image: linear-gradient(to right, #52c234 0%, rgb(0, 0, 0)  51%, #52c234  100%)}
.btnSearch {
   padding: 5px;
   margin-top: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 3px #eee;
   border-radius: 10px;
   display: block;
   opacity: 0.93;
 }

 .btnSearch:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .resultTxt {
   display: flex;
   justify-content: center;
   margin: 2%;
   font-size: larger;
   background: -webkit-linear-gradient(rgb(7, 7, 7) , #0f801e, rgb(7, 7, 7));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }