.loading {
  background: -webkit-linear-gradient(rgb(7, 7, 7) ,  #17f034, rgb(7, 7, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loadingContainer {
  background-color: #a39e9e 
}